.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-background-color: #f0f0f0;
}

.background-layer {
    -fx-background-image: url('/images/registration_background.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

.form-container {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-radius: 15px;
    -fx-padding: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-pref-width: 350px;
    -fx-alignment: center;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-max-height: 600px;
    -fx-min-height: 400px;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-translate-y: 0px;
}

.text-field, .password-field {
    -fx-pref-width: 300px;
    -fx-pref-height: 30px;
    -fx-padding: 8px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #007bff;
    -fx-border-width: 2px;
}

.button {
    -fx-pref-width: 150px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #0056b3;
}

@media (min-width: 800px) {
    .text-field, .password-field {
        -fx-pref-width: 400px;
    }

    .button {
        -fx-pref-width: 200px;
    }
}

@media (min-width: 1200px) {
    .text-field, .password-field {
        -fx-pref-width: 500px;
    }

    .button {
        -fx-pref-width: 250px;
    }
}

.notification {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-opacity: 0;
    -fx-translate-y: -20px;
    -fx-translate-x: -16px;
    -fx-transition: -fx-opacity 0.5s, -fx-translate-y 0.5s;
    -fx-background-radius: 5px;
    -fx-alignment: CENTER;
    -fx-position: absolute;
}

.notification.success {
    -fx-background-color: green;
    -fx-opacity: 1;
    -fx-translate-y: 10px;
}

.notification.error {
    -fx-background-color: red;
    -fx-opacity: 1;
    -fx-translate-y: 10px;
}
